<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792889242433-1no74ifl2t2f18q7bsbh1n8igjcnni6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792889242433-1no74ifl2t2f18q7bsbh1n8igjcnni6f</string>
	<key>API_KEY</key>
	<string>AIzaSyDvWC1J-1RPEgBkQKI2BL-5Fg-ENkkvsf0</string>
	<key>GCM_SENDER_ID</key>
	<string>792889242433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutrition.muktar</string>
	<key>PROJECT_ID</key>
	<string>muktarnutrition</string>
	<key>STORAGE_BUCKET</key>
	<string>muktarnutrition.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792889242433:ios:ad2d658647f31b023ca7c0</string>
</dict>
</plist>